<%- title, link, nejm = tool %>
<dd>
  <%- if nejm %>
    <%= external_link_to link do -%>
      <%= title -%>
      <span style="font-size: 0.7em;">(NEJM)</span>
    <% end %>
  <%- else %>
    <%= external_link_to title, link %>
  <%- end %>
</dd>
