<h3>About Anesthesia Hub</h3>

<div class = "paragraph">
	
<p> Anesthesia Hub was created by David Moss, MD. David is a pediatric anesthesiologist at 
	
	<a href="https://www.tuftsmedicalcenter.org">Tufts Medical Center</a>
	
	and 
	
	<a href="https://www.floatinghospital.org">Floating Hospital for Children</a>
	
	in Boston, Massachusetts. He is board-certified in anesthesiology and 
	pediatric anesthesiology. Anesthesia Hub was developed using Ruby on Rails with Bootstrap.</p>

</div>