<% title "About" %>

<p> 
  Anesthesia Hub was created by <%= external_link_to *@david_moss %>.
  David is a pediatric anesthesiologist at <%= external_link_to *@tufts_medical %>
	and <%= external_link_to *@floating %> in Boston, Massachusetts. 
  He is board-certified in anesthesiology, pediatric anesthesiology, and clinical informatics. 
  Anesthesia Hub was developed using Ruby on Rails with Bootstrap.
</p>

<div class='center'>
  <%= image_tag("MossAH.jpg", :size => "800x530") %> 
</div>