<% title "MOCA" %>
<div class = "sites">
  <h1> <%= yield(:title) %> </h1>
</div>

<div class="exams">  
  <p>
    The <%= external_link_to "American Board of Anesthesiology", @aba %> 
    (ABA), under the auspices of the <%= external_link_to "American Board of Medical Specialties", @abms %>  (ABMS), is in the process of changing its requirements for maintenance of certification (MOC). MOCA 2.0 will begin as a 'pilot' program with automatic enrollment for all diplomates whose certification expires in 2016 or later. As of January 1, 2016, the four principal components of MOC will be modified as below. See the <%= external_link_to " MOCA 2.0 FAQ", @moca2 %> for more information. 
  </p>
  <br>
</div>
<div class = "moca">
  <table>
    <tr>
      <th> MOCA (2004 - 2015) </th>
      <th> MOCA 2.0 </th>
    </tr>
    <tr>
      <td>this is the text entry for where part 1a would go and were gonna mke it long now relaly long liek long enough to see whats going on with this piece of shit css like pretending i'm a real web developper which clearly i'm not </td>
      <td>Part 1b </td>
    </tr>
    <tr>
      <td>Part 2a </td>
      <td>Part 2b </td>
    </tr>
    <tr>
      <td>Part 3a </td>
      <td>Part 3b </td>
    </tr>
    <tr>
      <td>Part 4a </td>
      <td>Part 4b </td>
    </tr>
  </table>  
</div>

