<h3>Oral Boards</h3>

<div class = "paragraph">
	
<p>The oral board exam tests your ability to organize your thoughts quickly and communicate them efficiently. You are being evaluated on your ability to formulate and articulate your thoughts clearly. This is a very different skill than that required to excel on the written exam. The single best way to prepare for the exam is to simulate the exam experience with a seasoned examiner. You must get used to the pace of the exam and thinking on your feet.</p>

</div>