<% title "Pediatric Boards" %>
<div class = "sites">
	<h1> <%= yield(:title) %> </h1>
	
	
	   
	<p>Pediatric anesthesiology certification requires having completed a one-year fellowship in pediatric anesthesia or, if you completed residency before July 2012, meeting <strong>grandfathering criteria:</strong> </p> 
	
	<ul style = "text-align: left;
	             font-size: 1.6em;
		         list-style: disc"> 
	<li> Clinical practice for the last 2 years is primarily devoted to pediatric anesthesiology </li>
	<span> OR </span></style>
    <li> At least 30% of clinical practice, averaged over the last 5 years, is devoted to pediatric anesthesiology </li>
	<span> AND </span></style>
	<li> Clinical practice must include neonates and children less than 2 </li>
	</ul></style>
	
	<p> In addition, you must pass the pediatric anesthesiology examination. </p>
	<p> The ABA has posted the <a href = "http://www.theaba.org/pdf/PAContentOutline.pdf" target="_blank"> content outline</a> and <a href = "http://www.theaba.org/pdf/PASampleQuestions.pdf" target="_blank"> sample questions.</a></p>
		
	
</div>

