<p>All questions &copy; 1990-1996 by the Joint Council on In-Training Examinations, American Board of Anesthesiology, American Society of Anesthesiologists and can be downloaded directly from their
		<a href= "http://www.theaba.org/Home/examinations_certifications"> website.</a>
</p>

<div class="center">
	<form accept-charset="UTF-8"
	      action = "/questions" 
		  method = "get"
		  name = "commit"
	      class = "form-inline">
	  
	  <div class="form-group">
	    <input type="text" name= "search" class="form-control" id= "search" placeholder="Search">
	  </div>
  
	  <div class="checkbox">
	    <label>
	      <input type="checkbox" value=""> Stems
		  <input type="checkbox" value=""> Choices
	    </label>
	  </div>

	  <button type="submit" class="btn btn-info">Search the Questions!</button>
  
	</form>
</div>