	<p>All questions &copy; 1990-1996 by the Joint Council on In-Training Examinations, American Board of Anesthesiology, American Society of Anesthesiologists and can be downloaded directly from their
			<a href= "http://www.theaba.org/Home/examinations_certifications"> website.</a>
	</p>

	<div class="center">
	
		<form accept-charset="UTF-8"
		      action = "/questions" 
			  method = "get"
			  name = "commit"
		      class = "form-inline">
	  
		  <div class="form-group">
		    <input type="search" name= "search" class="input-large" id= "search" placeholder="Search">
		  </div>

		  <div class="checkbox">
		    <label for="checkboxInput">
		      <input type="checkbox" value="stems" id="stems_checkbox" name="" checked/> Stems</br>
			  <input type="checkbox" value="choices" id="choices_checkbox" name="" checked/> Choices
		    </label>
		  </div>

		  <button type="submit" class="btn btn-info btn-lg">Search the Questions!</button>
  
		</form>
    </div>