	<p>All questions &copy; 1990-1996 by the Joint Council on In-Training Examinations, American Board of Anesthesiology, American Society of Anesthesiologists and can be downloaded directly from their
			<a href= "http://www.theaba.org/Home/examinations_certifications"> website.</a>
	</p>

	<div class="center">
	
		<form accept-charset="UTF-8"
		      action = "/questions" 
			  method = "get"
			  name = "commit"
		      class = "form-inline">

		  <div class="checkbox">
				Stems <%= check_box_tag 'stems_checkbox', '1', true %></br>
				Choices <%= check_box_tag 'choices_checkbox', '1', true %> 
		  </div>
		  
		  <div class="form-group">
		    <input type="search" name= "search" class="input-large" id= "search" placeholder="Search">
		  </div>
<br/><br/>
		  <button type="submit" class="btn btn-danger btn-lg">Search the Questions!</button>
  
		</form>
    </div>