<div class = "search">
	<p>All questions &copy; 1990-1996 by the Joint Council on In-Training Examinations, American Board of Anesthesiology, American Society of Anesthesiologists and can be downloaded directly from their
			<a href= "http://www.theaba.org/Home/examinations_certifications"> website.</a>
	</p>

	<div class="center">
	
		<form accept-charset="UTF-8"
		      action = "/questions" 
			  method = "get"
			  name = "commit"
		      class = "form-inline">

		  <div class="checkbox">
				Stems          <%= check_box_tag 'stems_checkbox',   '1', true %></br>
				Answer Choices <%= check_box_tag 'choices_checkbox', '1', true %> 
		  </div>
		  
		  <div class="form-group">
		    <input type="search" name= "search" class="input-large" id= "search" placeholder="Search">
		  </div>
		  
<br/><br/>

		  <button type="submit" class="btn btn-danger btn-lg">Search the Questions</button>
		
  <h1 style= "font-size: 6em; padding-top: 0; padding-bottom: 0.2em">OR</style></h1>
		</form>
		
		<form action = "/questions/random" 
			  method = "get"
			  id = "random"
			  name = "random_button">
		
		  <button type="submit" class="btn btn-primary btn-lg" >10 Random Questions</button>
	    </form>
		  
        
    </div>
</div>