<div class = "tools">
	<ul>
		<li style= "color: red"> This is where I will be adding links for quick access to clinical tools such as: </li></style>
		<li> ACLS algorithms</li>
		<li> PALS algorithms</li>
		<li> Critical Events algorithms</li>
		<li> Drug dosing</li>
		<li> Antibiotic guidelines</li>
		<li> Clinical Calculators</li>
		<li> Regional block videos</li>
		<li> Other procedural videos</li>
		
	</ul>
</div>