<div class = "tools">
		<dl><p></p>
	<div id = "left_column">		
		<dt id="BLS"> BLS Algorithm</dt>
		  <dd><a href='http://crashingpatient.com/wp-content/images/acls/basic.jpg'>Simplified Adult BLS </a></dd>
		<br/>	
		<dt id="ACLS"> ACLS algorithms</dt>
		<dd><a href='http://circ.ahajournals.org/content/122/18_suppl_3/S729/F2.large.jpg'> Cardiac Arrest  Cycle</a></dd>
		  <dd><a href='http://circ.ahajournals.org/content/122/18_suppl_3/S729/F1.large.jpg'> Cardiac Arrest </a></dd>
		  <dd><a href='http://circ.ahajournals.org/content/122/18_suppl_3/S729/F3.large.jpg'> Bradycardia (with pulse) </a></dd>
		  <dd><a href='http://circ.ahajournals.org/content/122/18_suppl_3/S729/F4.large.jpg'> Tachycardia (with pulse) </a></dd>
		  <dd><a href='http://crashingpatient.com/wp-content/images/acls/acs.jpeg'> Acute Coronary Syndrome </a></dd>
		  <dd><a href='http://crashingpatient.com/wp-content/images/acls/stroke.jpeg'> Stroke</a></dd>	
		  <dd><a href='http://crashingpatient.com/wp-content/images/acls/maternal%20card.jpeg'> Cardiac Arrest in Pregnancy</a></dd>  
		<br/>
		<dt id="PALS"> PALS algorithms</dt>
		  <dd><a href='http://circ.ahajournals.org/content/122/18_suppl_3/S862/F3.large.jpg'> Pediatric BLS </a></dd>
		  <dd><a href='http://circ.ahajournals.org/content/122/18_suppl_3/S876/F1.large.jpg'> Pediatric Cardiac Arrest </a></dd>
		  <dd><a href='http://circ.ahajournals.org/content/122/18_suppl_3/S876/F2.large.jpg'> Bradycardia (with pulse) </a></dd>
		  <dd><a href='http://circ.ahajournals.org/content/122/18_suppl_3/S876/F3.large.jpg'> Tachycardia (with pulse) </a></dd>  
		  <dd><a href='http://circ.ahajournals.org/content/122/18_suppl_3/S909/F1.large.jpg'> Newborn Resuscitation </a></dd>
		<br/>		
		
		<dt id="Critical"> Critical Events </dt>
		  <dd><a href='http://www.pedsanesthesia.org/newnews/Critical_Event_Checklists.pdf?201310291500'> Pediatric Critical Events </a></dd> 
		<br/>
		
	  
	</div><div id = "right_column">	 
		<dt id="CV"> Guidelines</dt>
		  <dd><a href='http://circ.ahajournals.org/content/116/17/1971.full.pdf'> ACC/AHA 2007 Preop Testing </a></dd>
		  <dd><a href='IE.jpg'> Endocarditis Prophylaxis </a></dd>   
		  <dd><a href='https://kr.ihc.com/ext/Dcmnt?ncid=520499512&tfrm=default'> ASRA Neuraxial Anticoags </a></dd>
		  <dd><a href='http://www.asahq.org/For-Members/Standards-Guidelines-and-Statements.aspx'> ASA Guidelines </a></dd>		  
		  <br/>
		<dt id="Dosing"> Drug dosing</dt>
		  <dd><a href='PALS_Drugs.jpg'> PALS Drugs </a></dd>		
	    </br>
		<dt id="Abx"> Antibiotic guidelines</dt>
		   <dd><a href='http://www.ashp.org/DocLibrary/BestPractices/TGSurgery.aspx'> Periop Antibiotic Dosing </a></dd>
		<br/>
		<dt id="Calc"> Clinical calculators</dt>
		  <dd><a href='http://easycalculation.com/medical/allowable-blood-loss.php'> Allowable Blood Loss </a></dd>
	    </br>
		<dt id="Block"> Regional block videos</dt>
          <dd><a href='http://youtu.be/XfRLiny_D8E'> US Pediatric TAP </a></dd>
	    </br>
		<dt id="Procedure"> Procedure videos</dt>
		<dd><a href='http://www.youtube.com/watch?v=coEpM7IBzsM'> US-Guided CVC Placement </a></dd>
		<dd><a href='http://www.youtube.com/watch?v=HE5QhsPRaPU'> US-Guided CVC Placement <span style= "font-size: 0.7em">(NEJM)</style> </a></dd>
		<dd><a href='http://www.youtube.com/watch?v=8hK04ai17-k'> Arterial Line Placement <span style= "font-size: 0.7em">(NEJM)</style> </a></dd>
		<dd><a href='http://www.youtube.com/watch?v=QzRBJNiyCzQ'> Lumbar Puncture <span style= "font-size: 0.7em">(NEJM)</style> </a></dd>
		<dd><a href='http://youtu.be/eblMcptvcAo'> Spinal Anesthesia </a></dd>
    	</dl>
   </div>
</div>

