<div class = "tools">
	
		<h1> Clinical Tools </h1>
		<dl>
	<div id = "left_column">		
		<dt><a href='http://crashingpatient.com/wp-content/images/acls/basic.jpg'> BLS Algorithm </a></dt>	
		<dt> ACLS algorithms</dt>
		  <dd><a href='http://crashingpatient.com/wp-content/images/acls/acls2.jpg'> Cardiac Arrest </a></dd>
		  <dd><a href='http://crashingpatient.com/wp-content/images/acls/brady.jpg'> Bradycardia (with pulse) </a></dd>
		  <dd><a href='http://crashingpatient.com/wp-content/images/acls/tachy.jpg'> Tachycardia (with pulse) </a></dd>
		  <dd><a href='http://crashingpatient.com/wp-content/images/acls/acs.jpeg'> Acute Coronary Syndrome </a></dd>
		  <dd><a href='http://crashingpatient.com/wp-content/images/acls/stroke.jpeg'> Stroke</a></dd>	
		  <dd><a href='http://crashingpatient.com/wp-content/images/acls/maternal%20card.jpeg'> Cardiac Arrest in Pregnancy</a></dd>	  
		<dt> PALS algorithms</dt>
		  <dd><a href='http://circ.ahajournals.org/content/122/18_suppl_3/S862/F3.large.jpg'> Pediatric BLS </a></dd>
		  <dd><a href='http://circ.ahajournals.org/content/122/18_suppl_3/S876/F1.large.jpg'> Pediatric Cardiac Arrest </a></dd>
		  <dd><a href='http://circ.ahajournals.org/content/122/18_suppl_3/S876/F2.large.jpg'> Bradycardia (with pulse) </a></dd>
		  <dd><a href='http://circ.ahajournals.org/content/122/18_suppl_3/S876/F3.large.jpg'> Tachycardia (with pulse) </a></dd>  
		  <dd><a href='http://circ.ahajournals.org/content/122/18_suppl_3/S909/F1.large.jpg'> Newborn Resuscitation </a></dd>
<br/>		
		<dt> Critical Events algorithms</dt>
		  <dd><a href='http://www.pedsanesthesia.org/newnews/Critical_Event_Checklists.pdf?201310291500'> Pediatric Critical Events Checklist</a></dd>
		  
	</div><div id = "right_column">	  
		<dt> Drug dosing</dt></br>
		<dt> Antibiotic guidelines</dt></br>
		<dt> Clinical Calculators</dt></br>
		<dt> Regional block videos</dt></br>
		<dt> Other procedural videos</dt>
		
    	</dl>
   </div>
</div>

