<div class = "tools">
	
		<h1> Clinical Tools </h1>
		<dl>
	<div id = "left_column">		
		<dt><a href='http://crashingpatient.com/wp-content/images/acls/basic.jpg'> BLS Algorithm </a></dt>
		<br/>	
		<dt> ACLS algorithms</dt>
		  <dd><a href='http://crashingpatient.com/wp-content/images/acls/acls2.jpg'> Cardiac Arrest </a></dd>
		  <dd><a href='http://crashingpatient.com/wp-content/images/acls/brady.jpg'> Bradycardia (with pulse) </a></dd>
		  <dd><a href='http://crashingpatient.com/wp-content/images/acls/tachy.jpg'> Tachycardia (with pulse) </a></dd>
		  <dd><a href='http://crashingpatient.com/wp-content/images/acls/acs.jpeg'> Acute Coronary Syndrome </a></dd>
		  <dd><a href='http://crashingpatient.com/wp-content/images/acls/stroke.jpeg'> Stroke</a></dd>	
		  <dd><a href='http://crashingpatient.com/wp-content/images/acls/maternal%20card.jpeg'> Cardiac Arrest in Pregnancy</a></dd>	  
		<br/>
		<dt> PALS algorithms</dt>
		  <dd><a href='http://circ.ahajournals.org/content/122/18_suppl_3/S862/F3.large.jpg'> Pediatric BLS </a></dd>
		  <dd><a href='http://circ.ahajournals.org/content/122/18_suppl_3/S876/F1.large.jpg'> Pediatric Cardiac Arrest </a></dd>
		  <dd><a href='http://circ.ahajournals.org/content/122/18_suppl_3/S876/F2.large.jpg'> Bradycardia (with pulse) </a></dd>
		  <dd><a href='http://circ.ahajournals.org/content/122/18_suppl_3/S876/F3.large.jpg'> Tachycardia (with pulse) </a></dd>  
		  <dd><a href='http://circ.ahajournals.org/content/122/18_suppl_3/S909/F1.large.jpg'> Newborn Resuscitation </a></dd>
		<br/>		
		<dt> Critical Events </dt>
		  <dd><a href='http://www.pedsanesthesia.org/newnews/Critical_Event_Checklists.pdf?201310291500'> Pediatric Critical Events </a></dd>
		  
	</div><div id = "right_column">	  
		<dt> Drug dosing</dt>
	    </br>
		<dt> Antibiotic guidelines</dt>
		   <dd><a href='http://www.ashp.org/DocLibrary/BestPractices/TGSurgery.aspx'> Periop Antibiotic Dosing </a></dd>
		<br/>
		<dt> Clinical Calculators</dt>
		  <dd><a href='http://easycalculation.com/medical/allowable-blood-loss.php'> Estimated Allowable Blood Loss </a></dd>
	    </br>
		<dt> Regional block videos</dt>
	    </br>
		<dt> Procedure videos</dt>
		<dd><a href='http://www.youtube.com/watch?v=coEpM7IBzsM'> US-Guided CVC Placement </a></dd>
		<dd><a href='http://www.youtube.com/watch?v=HE5QhsPRaPU'> US-Guided CVC Placement (NEJM) </a></dd>
		<dd><a href='http://www.youtube.com/watch?v=8hK04ai17-k'> Arterial Line Placement (NEJM) </a></dd>
		<dd><a href='http://www.youtube.com/watch?v=QzRBJNiyCzQ'> Lumbar Puncture (NEJM) </a></dd>
		
		
		
		
		
		
		
    	</dl>
   </div>
</div>

