<div class = "tools">
	
		<p> This is where I will be adding links for quick access to clinical tools such as: </p></style>
		<dl>
		<dt><a href='http://crashingpatient.com/wp-content/images/acls/basic.jpg'> BLS Algorithm </a></dt>	
		<dt> ACLS algorithms</dt>
		  <dd><a href='http://crashingpatient.com/wp-content/images/acls/acls2.jpg'> Cardiac Arrest </a></dd>
		  <dd><a href='http://crashingpatient.com/wp-content/images/acls/brady.jpg'> Bradycardia (with pulse) </a></dd>
		  <dd><a href='http://crashingpatient.com/wp-content/images/acls/tachy.jpg'> Tachycardia (with pulse) </a></dd>
		  <dd><a href='http://crashingpatient.com/wp-content/images/acls/acs.jpeg'> Coronary Syndrome </a></dd>
		  <dd><a href='http://crashingpatient.com/wp-content/images/acls/stroke.jpeg'> Stroke</a></dd>	
		  <dd><a href='http://crashingpatient.com/wp-content/images/acls/maternal%20card.jpeg'> Cardiac Arrest in Pregnancy</a></dd>	  
		<dt> PALS algorithms</dt>
		  <dd><a href='http://circ.ahajournals.org/content/122/18_suppl_3/S862/F3.large.jpg'> Pediatric BLS </a></dd>
		  <dd><a href='http://circ.ahajournals.org/content/122/18_suppl_3/S876/F1.large.jpg'> Pediatric Cardiac Arrest </a></dd>
		  <dd><a href='http://circ.ahajournals.org/content/122/18_suppl_3/S876/F2.large.jpg'> Bradycardia (with pulse) </a></dd>
		  <dd><a href='http://circ.ahajournals.org/content/122/18_suppl_3/S876/F3.large.jpg'> Tachycardia (with pulse) </a></dd>  
		  <dd><a href='http://circ.ahajournals.org/content/122/18_suppl_3/S909/F1.large.jpg'> Newborn Resuscitation </a></dd>
<br/>		
		<dt> Critical Events algorithms</dt>
		<dt> Drug dosing</dt>
		<dt> Antibiotic guidelines</dt>
		<dt> Clinical Calculators</dt>
		<dt> Regional block videos</dt>
		<dt> Other procedural videos</dt>
		
	</dl>
</div>

