<% title "The central resource for anesthesiology on the web." %>

<h1> Anesthesia <span style= "letter-spacing: 5px"> HUB </h1></style>

<h2> The central resource for anesthesiology on the web. </h2>

<div class = "tools">
	<form action = "/tools" 
		  method = "get">
		  
	<div class = "center">
		<div class="btn-group">		  
		<button type="submit" class="btn btn-primary btn-lg">CLINICAL TOOLS</button>
		</div>
	</div>	
	</form>
</div>






  
    