<% title "The central resource for anesthesiology on the web." %>

<h1> Anesthesia <span style= "letter-spacing: 5px"> HUB </span></h1>

<h2> The central resource for anesthesiology on the web. </h2>

<div class = "center">
<a href= "/tools" class="btn btn-primary btn-lg" role="button">TOOLS</a>
<div class = "divider"></div>
<a href= "/movies" class="btn btn-primary btn-lg" role="button">MOVIES</a>


</div>



  
    
