<div class="center hero-unit">
<h1>Anesthesia Depot</h1>

<h2>
	Your central resource for the American Board of Anesthesiology written exams.
</h2>

<%= link_to "Search the Questions!", search_path,    class: "btn btn-large btn-primary" %>
<%= link_to "Explore Resources",     resources_path, class: "btn btn-large btn-primary" %>
</div>

