<h1> Anesthesia <span style= "letter-spacing: 5px"> HUB </h1></style>

<h2> The central resource for anesthesiology on the web. </h2>

<div class = "tools">
	<form action = "/tools" 
		  method = "get">
		  
	<div class = center>
		<div class="btn-group">		  
		<button type="submit" class="btn btn-default btn-lg active">CLINICAL TOOLS</button>
		<button type="button" class="btn btn-default btn-lg dropdown-toggle active" data-toggle="dropdown">
		    <span class="caret"></span>
		    <span class="sr-only">Toggle Dropdown</span>
		  </button>
  
		  <ul class="dropdown-menu" role="menu">
		    <li><a href="/tools#BLS">BLS algorithm</a></li>
			<li><a href="/tools#ACLS">ACLS algorithms</a></li>
			<li><a href="/tools#PALS">PALS algorithm</a></li>
		 	<li><a href="/tools#Critical">Critical Events</a></li>
			<li><a href="/tools#Dosing">Drug dosing</a></li>
		    <li><a href="/tools#Abx">Antibiotic guidelines</a></li>
		    <li><a href="/tools#Calc">Clinical calculators</a></li>
			<li><a href="/tools#Block">Regional block videos</a></li>
		    <li><a href="/tools#Procedure">Procedure videos</a></li>
		  </ul>
		</div>
	</div>	
	</form>
</div>






  
    