<% title "The central resource for anesthesiology on the web." %>

<div class = "welcome">
  
  <%= image_tag("DRM_MaskHub.b.png", :height => "500") %>   
  <br></br>

  <%= link_to "Anesthesia Professionals", "/providers", class: "btn btn-info" %>
  <div class = "divider"></div>
  <%= link_to "Anesthesia Employers", "/employers", class: "btn btn-lg btn-danger " %>
</div>