<div class="center hero-unit">
<h1>Welcome to the Anesthesia Question Generator</h1>

<h2>
	This is the home page for the 
	Anesthesia Question Generator</a>
	application.
</h2>

<%= link_to "Search the Questions!", search_path, class: "btn btn-large btn-primary" %>
</div>

