/* line 3, app/assets/stylesheets/chessfilms.css.scss */
.chessfilms .header img {
  float: left;
  height: 250px;
}

/* line 8, app/assets/stylesheets/chessfilms.css.scss */
.chessfilms .header h1 {
  position: relative;
  top: 50px;
  padding-bottom: 30px;
}

/* line 15, app/assets/stylesheets/chessfilms.css.scss */
.chessfilms h3 {
  font-size: 1.5em;
  padding: 0;
  margin: 0;
}

/* line 21, app/assets/stylesheets/chessfilms.css.scss */
.chessfilms h4 {
  font-size: 1.2em;
}

/* line 25, app/assets/stylesheets/chessfilms.css.scss */
.chessfilms hr {
  width: 100%;
}

/* line 29, app/assets/stylesheets/chessfilms.css.scss */
.chessfilms a.btn {
  color: #FF595A;
}

/* line 33, app/assets/stylesheets/chessfilms.css.scss */
.chessfilms .btn {
  display: table-cell;
  white-space: normal;
  font-size: 2em;
  text-align: center;
  width: 300px;
  height: 400px;
  border: solid 1px #00ADBA;
  border-radius: 30px;
}

/* line 44, app/assets/stylesheets/chessfilms.css.scss */
.chessfilms .btn img {
  max-height: 360px;
}

/* line 48, app/assets/stylesheets/chessfilms.css.scss */
.chessfilms table {
  margin-left: auto;
  margin-right: auto;
}

/* line 53, app/assets/stylesheets/chessfilms.css.scss */
.chessfilms td {
  padding: 3em;
}
