@import "bootstrap";
@import "bootstrap3-switch";

/* mixins, variables, etc. */

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 0px;           /* whitespace above the navigation bar */
  font-size: 100%;
  font-family: "Helvetica", sans-serif;
  font-weight: lighter;
}

section {
  overflow: auto;
}

textarea {                  /* not sure what this does */
  resize: vertical;
  min-width: 100%;
}

/* typography */

h1 {
	font-family: "Yanone Kaffeesatz", sans-serif;
  text-align: center;
	font-size: 7em;
	letter-spacing: 0.5px;
	font-weight: 300;
	padding-bottom: 40px;
}

p {
  font-size: 2em;
  line-height: 1.3em;
  letter-spacing: -1px;
  padding: 20px;
}

a {
  color: red;
  &:visited {color: red;}
  &:hover {
    color: CornflowerBlue;
    text-decoration: underline;
  }
}

/* Buttons */
.btn {
  font-family: Avenir, Tahoma;
  &:hover {color: black;}
  a{
    color: white;
    &:hover {color: black;} 
  } 
}

a.btn{
  color: white;
}

/* List Actions */

.list_actions {
	a{
		font-size: 1.3em;
  }
}		

/* Search Forms */

.checkbox{
  font-family: "Helvetica", sans-serif;
  font-size: 1.8em;
  text-align: right;
  padding-right: 1em;
}

.shufflebox{
  padding-left: 1em;
}

input[class=input-large] {
  width: 100%;
  padding: 6px 7px;
  font-family: Arial;
  font-size: 2em;
  border-radius: 8px;
}

/* Header */

header {
  ul{
  	font-size: 2.3em;
  	font-style: normal;
  }
}

.navbar-nav.nav-justified > li{
    float:none;
}

.navbar-inverse .navbar-nav > li > a {
	font-family: Avenir, Tahoma;
    color: white;
  &:hover {
    color: yellow;
  }
}

.navbar-inverse .navbar-nav .active > a {
  color: yellow;
  background: 0;
  &:hover {
  background: 0;
  color: yellow;
  }
}

.dropdown-menu {
  font-family: Avenir, Tahoma;
  font-size: 0.8em;
  padding: 5px;
  background-color: silver;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/* footer */

footer {
  margin-top: 45px;
  border-top: 1px solid $gray-light;
  color: $gray-light;

  a {
    color: $gray-light;
  }

  p {
   text-align: center;
   font-size: 1.8em;
   padding: 0px;
  }
}
