.jewels {
   
  h4 {
    font-family: "Helvetica";
    font-weight: lighter;
    letter-spacing: -0.5px;
    font-size: 1.6em;
    padding-bottom: 20px;
  }
  
  a {
    font-family: "Avenir";
    font-size: 2.5em;
    padding: 1em;
  
 }
	 
	table {
	  margin-left:auto; 
	  margin-right:auto;
	}
	  
	td{
		padding: 3em;
	}
}