.jewels {
   
  h4 {
    font-family: "Helvetica";
    font-weight: lighter;
    letter-spacing: -0.5px;
    font-size: 1.4em;
    padding-bottom: 20px;
  }
  
  h1 {
    text-align: right;
  }
  
  strong {
    font-size: 1.3em;
  }

  h2 {
    font-family: "Avenir";
    font-weight: lighter;
    font-size: 1.4em;
    text-align: left;
    padding-bottom: 25px;
    padding-left: 17px;
  }
  
  a {
    font-family: "Avenir";
    font-size: 1.2em;
    padding: 0.7em;
  
 }
   
	table {
	  margin-left:auto; 
	  margin-right:auto;
	}
}