.questions {
	table {
		border-collapse: collapse;		
	}
	
	table tr td {
		padding: 10px;
		vertical-align:top;
	}
	
	tr {
		border-bottom: silver 1px solid;
	}
	
	dt {
		font-size: 1.6em;
		}
		
	dd {
		font-size: 1.4em;
		text-indent: 50px;
		}
	
	.list_actions {
		font-size: x-small;
		text-align: right;
		padding-left: 1em;
	}


}

