.questions {
	p {
		font-size: 2.5em;
		text-align: center;
		padding: 30px;
		color: red;
	}
	
	table {
		border-collapse: collapse;		
	}
	
	table tr td {
		padding: 10px;
		vertical-align:top;
	}
	
	tr {
		border-bottom: silver 1px solid;
	}
	
	dt {
		font-family: "Georgia";
		font-weight: 600;
		font-size: 2em;
		}
		
	dd {
		font-family: "Georgia";
		font-size: 1.8em;
		text-indent: 50px;
		}
	
	.list_actions {
		font-size: x-small;
		text-align: right;
		padding-left: 1em;
	}
	
	a {
	  color: white;
	  &:visited {
	    color: white;
	  }
	  &:hover {
	    color: black;
		text-decoration: none;
	  }
	}


}

