.questions {
	table {
		border-collapse: collapse;		
	}
	
	table tr td {
		padding: 10px;
		vertical-align:top;
	}
	
	tr {
		border-bottom: 1px solid black;
	}
	
	.list_description {
		width: 100%;
		
		
		dt {
			font-family: "Georgia", Times, serif;
			font-size: large;
		}
		
		dd {
			font-family: "Georgia", Times, serif;
			font-size: medium;
			font-weight: normal;
			text-indent: 50px;
		}
	}
	
	.list_actions {
		font-size: x-small;
		text-align: right;
		padding-left: 1em;
	}


}

