// Place all the styles related to the Lectures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  table.pretty_b {
    border-collapse: collapse;
    text-align: center;
    width: 50%;
    margin-left:auto; 
    margin-right:auto;
  }
  
  .pretty_b th {
    font-variant: small-caps;
    font-size: 2em;
    a{color:black;}
    text-align: center;
  }
  
  .pretty_b td{
    font-size: 1.4em;
    padding: 5px;
  }
  
	.pretty_b tr {
		border-bottom: silver 1px solid;
	}
