.resources {
  
	.btn {
		font-family:  "Avenir", sans-serif;
		padding: 5px;
		font-weight: 300;
		font-size: 1.1em;
        float: right;
		margin: 1px;
    
    a {
      color: white;
      &:visited {
        color: white;
      }
    }
  }
  
	table {
		border-collapse: collapse;
	}
	
	table tr td {
		padding: 10px;
		vertical-align:top;
	}
	
	tr {
		border-bottom: silver 1px solid;
	}
	
	dt {
		font-family: "Helvetica";
    letter-spacing: -1px;
		font-size: 2.2em;
		font-weight: lighter;
	}
	
	dd {
		font-family: "Helvetica";
		font-size: 1.5em;
		font-weight: lighter;
	}
	
	dd.bold {
		font-weight: bold;
		font-size: 1.2em;
		padding-bottom: 10px;
	}
  
	dd.description {
    font-family: Helvetica;
		font-weight: lighter;
		font-size: 1.3em;
		padding-bottom: 10px;
	}

  .list_actions {
  	font-size: 1em;
  	text-align: right;
  	padding-left: 1em;
  }
}