.resources {
  
	.btn {
		font-family:  "Yanone Kaffeesatz", sans-serif;
		padding: 5px;
		font-weight: 300;
		font-size: 1.4em;
        float: right;
		margin: 1px;
    
  a {
    color: white;
    &:visited {
      color: white;
    }
  }
}
  
	table {
		border-collapse: collapse;
	}
	
	table tr td {
		padding: 10px;
		vertical-align:top;
	}
	
	tr {
		border-bottom: silver 1px solid;
	}
	
	p {
		padding-top: 0;
		padding-bottom: 0;
		font-size: 2em;
	}
	
	.list_description {
		width: 100%;
		
		dt {
			font-family: "Cambria",                     "Hoefler Text",
			             "Nimbus Roman No9 L Regular",   Times, 
						 "Times New Roman",              serif;
			font-size: 2.2em;
			font-weight: 600;
		}
		
		dd {
			font-family: "Helvetica", Times, serif;
			font-size: 1.5em;
			font-weight: normal;
		}
		
		dd.bold {
			font-weight: bold;
			font-size: 1.3em;
			padding-bottom: 10px;
		}
	}
	
	.list_actions {
		font-size: 1.5em;
		text-align: right;
		padding-left: 1em;
	}

}