.sites {
	table {
		border-collapse: collapse;
	}
	
	tr {
		border: none
	}
	
	td {
		padding: 2px;	
	}
	
	dt {
		font-family: "Georgia";
		font-size: 18px;
	}
		
	dd {
		font-family: "Helvetica";
		font-size: small;
		font-weight: bolder;
	}
		
	.list_actions {
		font-size: x-small;
		text-align: right;
		padding-left: 1em;
	}
	
	.boards_prep {
		p{font-size: 1.2em}
		ul{font-size: 1.2em;
		   list-style: disc}
	}
	

}
