.sites {
   
  h4 {
    font-family: "Helvetica";
    font-weight: lighter;
    letter-spacing: -0.5px;
    font-size: 1.6em;
    padding-bottom: 20px;
  }
  
  .btn {
    font-family: "Helvetica";
    font-weight: lighter;
		font-size: 2em;
    text-align: center;
    white-space: normal;
    color: red;
      &:visited {
        color: red;
      }
    width: 300px;
    height: 140px;
    border: solid 1px DarkBlue;
    display: table-cell;
  }
  
  .btn-rec{
    border: ridge 8px Green;
  }
  
  .btn img {
    max-height: 130px;
  }
	 
	table {
	  margin-left:auto; 
	  margin-right:auto;
	}
	  
	td{
		padding: 3em;
	}
}