.sites {
	
	h1 {
		font-family: "Belleza", "Georgia", serif;
		font-size: 6em;
		letter-spacing: -1px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
	ul {
		font-size: 2em;
		text-align: center;
	}
	
	
	.list_actions {
		font-size: x-small;
		text-align: right;
		padding-left: 1em;
	}
}