// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul {
	font-size: 1.5em;
	list-style: circle;
	font-style: italic;
	font-weight: lighter;
}

.welcome{
  
  text-align: center;
  list-style: none;
  
  h1 {
    font-family: "Belleza", "Georgia", serif;
    font-size: 12em;
    letter-spacing: -2px;
    padding-top: 30px;
  }

  h2 {
    font-family: Avenir, Georgia;
    font-weight: lighter;
    font-size: 3em;
    letter-spacing: -1px;
    padding-bottom: 30px;
    color: Gray;
  }
  
  .divider{
    width:6em;
    height:auto;
    display:inline-block;
  }

  .btn-lg {
    font-family: Avenir;
    color: white;
    font-size: 2.5em;
    font-weight: lighter;
  }
}

.calendar{
  text-align: center;
}

.exams{
	p {
		padding-top: 0;
		padding-bottom: 0;
		font-size: 2em;
		display: list-item;
		list-style: disc;
	}
}

.graphics{
  text-align: center;

  .btn-lg {
    font-family: Avenir;
    font-variant: small-caps;
    width: 30%;
    height: 20%;
    color: white;
    border: none;
    display: inline;
  }
  
  p {
    text-align: center; 
    font-size: 1.5em; 
    list-style: none
  }
}

.tools{	
	
	dl{
	  text-align: left;
	  font-size: 2em;
	}
	
	dt{
		font-family: Cambria;
		text-align: center;
		font-size: 1.8em;
		font-weight: bold;
		padding-bottom: 0.4em;
	}
	
	dd{
		font-family: Cambria;
		font-size: 1em;
		font-weight: bold;
		text-align: center;  
		display:list-item;
		list-style-type: none;
		list-style-position:inside;
		padding-bottom: 0.7em;	
	}
	
	#left_column{
		float: left;
		width: 50%;
		margin: 0 0 20% 0%;
	}
	
	#right_column{
		float: left;
		width: 50%;
		margin: 0 0% 20% 0;
	}
	
	.dropdown-menu {
	  font-size: 1.67em;
	  padding: 5px;
	  background-color: silver;
	}
	
	.btn-lg {
		font-family: Helvetica;
		font-size: 1em;
		text-align: center;
		
	}  
}

.movies{
  
  .btn-primary {
	  font-family: Avenir;
	}
  
  .panel {
	  border-color: black;
	  border-width: 0.2em;
  }
  
  .panel-heading{
	  background-color: white;
	  color: black;
	}
  
  .panel-heading .accordion-toggle:after {
      /* symbol for "opening" panels */
      font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
      content: "+";    /* adjust as needed, taken from bootstrap.css */
      float: right;        /* adjust as needed */
      color: grey;         /* adjust as needed */
  }
  .panel-heading .accordion-toggle.collapsed:after {
      /* symbol for "collapsed" panels */
      content: "-";    /* adjust as needed, taken from bootstrap.css */
  }
  
  h3, h4, h5{
    font-family: Avenir;
    font-weight: normal;
  }
  
  h3{
    font-size: 3em;
  }
  
  h4{
     font-size: 2.2em;
  }
  
  h5{
     font-size: 1.8em;
  }
  
}



