// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul {
	font-size: 1.5em;
	list-style: circle;
	font-style: italic;
	font-weight: lighter;
}

.welcome{ 
  text-align: center;
  list-style: none;
  
  h1 {
    font-family: "Belleza", "Georgia", serif;
    font-size: 12em;
    letter-spacing: -2px;
    padding-top: 30px;
  }

  h2 {
    font-family: Avenir, Tahoma;
    font-weight: lighter;
    font-size: 3em;
    letter-spacing: -1px;
    padding-bottom: 30px;
    color: Gray;
  }
  
  .divider{
    width:6em;
    height:auto;
    display:inline-block;
  }

  .btn {
    font-size: 2.5em;
    font-weight: lighter;
  }
}

.calendar{
  text-align: center;
}

.danya {
  text-align: center;
  color: green;
  font-size: 2em;
}

.exams{
	p {
		padding-top: 0;
		padding-bottom: 0;
		font-size: 2em;
		display: list-item;
		list-style: disc;
	}
}

.moca{
  table {
    width: 100%; 
    table-layout: fixed;
    text-align: center;
    border: 1px solid black;
    font-size: 1.8em;
  } 
  th, td{
    text-align: center;
    border: 1px solid;
    padding: 10px;
  }
  dd{
    font-size: 0.7em;
  }
}

.graphics{
  text-align: center;

  .btn-lg {
    font-variant: small-caps;
    width: 30%;
    height: 20%;
    border: none;
    display: inline;
  }
  
  p {
    text-align: center; 
    font-size: 1.5em; 
    list-style: none
  }
}

.tools{	
	font-size: 2em;

	dt{
		font-family: Cambria;
		text-align: center;
		font-size: 1.8em;
		font-weight: bold;
		padding-bottom: 0.4em;
	}
	
	dd{
		font-family: Helvetica;
		font-size: 1em;
    letter-spacing: -1px;
		font-weight: lighter;
		text-align: center;  
		padding-bottom: 0.5em;	
	}
	
	#left_column{
		float: left;
		width: 50%;
		margin: 0 0 20% 0%;
	}
	
	#right_column{
		float: left;
		width: 50%;
		margin: 0 0% 20% 0;
	}	
}

.tmccalc { 
  h2 {
  font-weight: bold;
  font-family: Georgia;
  text-align: center;
  font-size: 2em;
  }
  
  label {
    font-size: 2em;
    font-weight: lighter;
    padding-bottom: 1.3em;
  }
}

.movies{ 
  .panel {
	  border-color: black;
	  border-width: 0.2em;
  }
  
  .panel-heading{
	  background-color: white;
	  color: black;
	}
  
  .panel-heading .accordion-toggle:after {
      /* symbol for "opening" panels */
      font-family: 'Glyphicons Halflings';  
      content: "+";    
      float: right;      
      color: grey;         
  }
  .panel-heading .accordion-toggle.collapsed:after {
      /* symbol for "collapsed" panels */
      content: "-";   
  }
  
  h3, h4, h5{
    font-family: Avenir, Tahoma;
    font-weight: normal;
  }
  
  h3{
    font-size: 3em;
  }
  
  h4{
     font-size: 2.2em;
  }
  
  h5{
     font-size: 1.8em;
  }
}



