// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center{
	text-align: center;
}

.tools{	
	
	dl{
	  text-align: left;
	  font-size: 2em;
	}
	
	dt{
		font-family: Georgia;
		font-size: 1.4em;
		font-weight: bold;
		text-decoration: underline;
		padding-bottom: 0.4em;
	}
	
	dd{
		font-family: helvetica;
		font-size: 1em;
		font-weight: bold;
		text-align: left;  
		display:list-item;
		list-style-type: disc;
		list-style-position:inside;
		padding-bottom: 0.7em;	
	}
	
	#left_column{
		float: left;
		width: 50%;
		margin: 0 0 20% 0%;
	}
	
	#right_column{
		float: left;
		width: 50%;
		margin: 0 0% 20% 0;
	}
	
	.dropdown-menu {
	  font-size: 1.67em;
	  padding: 5px;
	  background-color: silver;
	}
	
	.btn-lg {
		font-family: "Belleza";
		font-size: 2.5em;
		letter-spacing: 0.1em;
	}
	
}

