<div class = "orals" >
<p>7-part video overview to the oral boards available from the 
	<a href='http://theaba.docstream.com/videos/archive/?page=1'>ABA</a>
</p>

<p>Hints for mastering the ABA Anesthesiology Boards:
	<a href='http://anesthesiaboardhints.homestead.com/HintsfortheAnesthesiologyBoardExaminationRev1.6.pdf'> PDF</a>
</p>

<p>Oral board preparation strategy has been extensively discussed at 
	<a href="http://forums.studentdoctor.net/forums/anesthesiology.45/">
	Student Doctor Network</a>. Here is my <a href="/orals">two cents.</a>
</p>
	
<ul>
  <li><a href="http://forums.studentdoctor.net/threads/oral-board-studying-tips.1004846/">
	  Oral Board Studying Tips (5/13)</a></li>
  <li><a href="http://forums.studentdoctor.net/threads/oral-boards-the-ho-course.973389/">
	  Oral Boards: the Ho Course (12/12)</a></li>
  <li><a href="http://forums.studentdoctor.net/threads/oral-boards-for-dummies.960908/">
	  Oral Boards for Dummies (10/12)</a></li>
  <li><a href="http://forums.studentdoctor.net/threads/just-took-oral-board-exam-holy-amp.954763/">
	  Just took oral boad exam: Holy ... (10/12)</a></li>
  <li><a href="http://forums.studentdoctor.net/threads/oral-board-course-which-one-here-are-some-tips.952284/">
	  Oral Board Course- Which One? (9/12)</a></li>
  <li><a href="http://forums.studentdoctor.net/threads/fall-orals.942088/">
	  Fall Orals (8/12)</a></li>
  <li><a href="http://forums.studentdoctor.net/threads/i-failed-the-oral-boards-again.914746/">
	  I failed the oral boards again (5/12)</a></li>	  
  <li><a href="http://forums.studentdoctor.net/threads/april-aba-oral-exam.897213/">
	  April ABA Oral Exam (3/12)</a></li>	   	  
  <li><a href="http://forums.studentdoctor.net/threads/oral-board-prep-course.883011/">
	  Oral Board Prep Course (1/12)</a></li>	  
  <li><a href="http://forums.studentdoctor.net/threads/just-oral-boards.868158/">
	  Just Oral Boards (11/11)</a></li>		  
  <li><a href="http://forums.studentdoctor.net/threads/oral-boards-self-study-vs-review-course.863807/">
	 Oral Boards: Self-Study vs Review Course (10/11)</a></li>
  <li><a href="http://forums.studentdoctor.net/threads/oral-advice.863646/">
   	 Oral advice (10/11)</a></li>
  <li><a href="http://forums.studentdoctor.net/threads/oral-board-book.863401/">
   	 Oral Board Book (10/11)</a></li>
  <li><a href="http://forums.studentdoctor.net/threads/best-oral-boards-resource-not-going-to-a-session.842324/">
   	 Best Oral Boards Resource - not going to a session (7/11)</a></li>
  <li><a href="http://forums.studentdoctor.net/threads/my-oral-board-experience.822916/">
   	 My Oral Board Experience (5/11)</a></li>
  <li><a href="http://forums.studentdoctor.net/threads/what-is-the-best-way-to-study-for-the-anesthesia-oral-boards.821337/">
     What is the best way to study for the anesthesia oral boards (5/11)</a></li>
</ul>
</div>