<div class = "orals" >

	<p>Written board study strategy has been extensively discussed at 
		<a href="http://forums.studentdoctor.net/forums/anesthesiology.45/">
		Student Doctor Network</a>.
	</p>
	
	<ul>
	  <li><a href="http://forums.studentdoctor.net/forums/anesthesiology.45/">
		  The threads will go here</a>
	  </li>
	</ul>
</div>