<div class = "sites">
  <% title site_category_title(params[:category]) %>
  <%= render 'layouts/subheader' %>

  <% if site_category_title(params[:category]) == "Miscellaneous" %>
  <h1 class='sub'> recommended : <button class="btn btn-default btn-rec btn-demo" role="button"> </h1>
  <% end %>
  
  <% if site_category_title(params[:category]) == "Pediatric Anesthesia" %>
  <h1 class='sub'> recommended : <button class="btn btn-default btn-rec btn-demo" role="button"> </h1>
  <% end %>
  
  <% if site_category_title(params[:category]) == "Blogs"  %>
  <h1 class='sub'> active in 2022 : <button class="btn btn-default btn-rec btn-demo" role="button"> </h1>
  <% end %>

  <%= render 'layouts/sites' %>
</div>
