<footer class="footer">
	<small>
		Anesthesia Hub
		by David Moss, MD
	</small>
	<nav>
		<ul>
			<li><%= link_to "About",       '#' %></li>
			<li><%= link_to "Feedback",    feedback_path %></li>
		</ul>
	</nav>
</footer>
			