<footer class="footer">
	
		<p style = "float: left; margin-left: 2em"> 
			<%= link_to "About",       about_path    %> 
			&nbsp; | &nbsp;
		    <%= link_to "Feedback",    feedback_path %>
	   </p></style>
		
		<p>
			Anesthesia Hub &copy; 2013-14 David Moss, MD
		</p>
	
</footer>
			