<footer class="footer">

	<nav>
		<ul>
			<li><%= link_to "About",       about_path    %></li>
			<li><%= link_to "Feedback",    feedback_path %></li>
		</ul>
		
		<p>
			Anesthesia Hub &copy; 2013 David Moss, MD
		</p>
	</nav>
	
</footer>
			