<footer class="footer">

	<nav>
		<ul>
			<li><%= link_to "About",       about_path    %></li>
			<li><%= link_to "Feedback",    feedback_path %></li>
		</ul>
		
		<small>
			Anesthesia Hub
			by David Moss, MD
		</small>
	</nav>
	
</footer>
			